<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs')%>
<body>
    <div class="index-contain">
    <ul>
        <h1>Merch</h1>
        <% for (const allMerch of merch) { %>
        <% if (currentUser) { %>
              <!-- Edit button -->
            <a href="/merch/<%= allMerch.id %>/edit">Edit</a>
            <!-- Item image -->
            <img src="<%= allMerch.image %>" class="item_img">
            <!-- Link to show page -->
            <li><a href="/merch/<%= allMerch.id %>"><%= allMerch.name %></a></li>
            <!-- Item price -->
            <h3>$<%= allMerch.price %></h3>
            <!-- Item quanity -->
            <h4>Qty:<%= allMerch.quanity %></h4>
            <!-- Delete button -->
            <form action="/merch/<%= allMerch.id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/>
            </form>
        <% } else { %>
            <div class="item-contain">
                <!-- Link to show page -->
                <a href="/merch/<%= allMerch.id %>">
                <!-- Item image -->
                <img src="<%= allMerch.image %>" class="item_img">
                <!-- Item name -->
                <li><h2><%= allMerch.name %></h2></a></li>
                <!-- Item price -->
                <h3>$<%= allMerch.price %></h3>
                    <% } %>
            </div>
            
        <% } %>
    </ul>
    <% if (currentUser) { %>
        <!-- New item link -->
        <a href="/merch/new">Create new item</a>
    <% } %>
    </div>
</body>
    <%- include ('./partials/foot.ejs')%>
</html>