<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merch</title>
</head>
<nav> <img src='images/BillyBattsVector2.jpg'><br/>Events Store Media </nav>
<body>
    
    <h1>Merch</h1>
    <ul>
        <% for (const allMerch of merch) { %>
            <img src="<%= allMerch.image %>">
            <li><a href="/merch/<%= allMerch.id %>"><%= allMerch.name %></a></li>
            <%= allMerch.price %>
            <%= allMerch.quanity %>
            <%= allMerch.description %>
            <form action="/merch/<%= allMerch.id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/>
            </form>
            <a href="/merch/<%= allMerch.id %>/edit">Edit</a>
        <% } %>
    </ul>
    <a href="/merch/new">Create new item</a>
</body>
<footer>est.2019 contact representation </footer>
</html>