<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Item</title>
</head>
<body>
    <h1>One Item</h1>
        <%= merch.name %>
        <img src="<%= merch.image %>">
        <%= merch.price %>
        <%= merch.quanity %>
        <%= merch.description %>
</body>
</html>