<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs')%>
<body>
    <div class="show-contain">
        <h1><%= merch.name %></h1>
        <img src="/<%= merch.image %>" class="item_img">
        <h3>$<%= merch.price %></h3>
        <form action="/merch/<%= merch.id %>/buy?_method=PUT" method="POST">
            <input type="submit" value="BUY"/>
            </form>
        <span><%= merch.description %></span>
        <% if (currentUser) { %>
        <h5>Qty: <%= merch.quanity %></h5>
        <% } %>
        
    </div>
</body>
<%- include ('./partials/foot.ejs')%>
</html>