<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs')%>
<body>
    <h1><%= merch.name %></h1>
        <img src="/<%= merch.image %>" class="item_img">
        <h3>$<%= merch.price %></h3>
        <% if (currentUser) { %>
        <h4>Qty: <%= merch.quanity %></h4>
        <% } %>
        <h4><%= merch.description %></h4>
</body>
<%- include ('./partials/foot.ejs')%>
</html>